body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f2f2f;
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
}

nav a:hover {
    text-decoration: underline;
}

/* Page Content Styles */
.content {
    background-color: #262626;
    color: white;
    padding: 20px;
    min-height: calc(100vh - 100px); /* Adjusts for header and footer height */\n   }

/* Footer Styles */
footer {
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    padding: 10px 0;
}
